{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<main>
    <section class="about_me" id="about_me">
        <h4 class="section-title">About Me</h4>
        <div class="row">
            <div class="col-md-8">
                <h3>Hello 👋</h3>
                <p class="paragraph">My name is David Kabanga.</p> 
                <p>
                    I am a freelance web developer, with quite a bit of experience in creating web applications. 
                    I had to work with the PHP language on the server side which gradually became boring. 
                    So, I decided to migrate to Python, and suddenly I discovered the existence of Django. And I had my crush.
                </p>
                <div class="social-media">
                    <a href="https://ywitter.com/davidkabanga1"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-medium"></i></a>
                </div>
            </div>
            <div class="col-md-4">
                <img src="" alt="">
            </div>
        </div>
    </section>
    <section class="projects" id="projects">
        <h4 class="section-title">Projects</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-2">
                    <img src="" alt="">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <small></small>
                        <a>Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-2">
                    <img src="" alt="">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <small></small>
                        <a>Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-2">
                    <img src="" alt="">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <small></small>
                        <a>Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact_me" id="contact_me">

    </section>
</main>
{% endblock %}